body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  width: 300px;
}

div#display {
  width: 400px;
  font-size: 2em;
  padding: 20px 0;
}
